/out/
/profiler/
/Testing/
/out/**
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt
*.cmake
build.ninja
.ninja_deps
.ninja_log
.vs/
*.VC.db
*.VC.opendb
*.sdf
*.wsp
*.opensdf
*.cache
*.user
*.suo
*.ipch
/vcpkg_installed/
/vcpkg/buildtrees/
/packages/
*.exe
*.dll
*.lib
*.obj
*.o
*.log
*.pdb
*.tmp
*.bak
*.swp